:root {
    background-color: oldlace;
}

.container {
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: max-content;
}


h1 {
    text-align: center;
    background-color:lightslategray;
    color: skyblue;
}

.curWeather {
    background-color: lightslategray;
    color: skyblue;
    border-radius: 10px;
}

.futWeather {
    background-color: lightslategray;
    color: skyblue;
    border-radius: 10px;
}

